<div class="pagination flex-between">
  <!--
    Yash: this re-initializes the paginator. Needed for pagination to work right
    on the "Resources" page. I don't understand how this works.
  -->
  {{- $paginator := .Paginate .Pages }}
  <a
    {{ if .Paginator.HasPrev }}
      href="{{ .Paginator.Prev.URL }}"
    {{ else }}
      style="visibility: hidden;"
    {{ end }}
  >
    <span>←</span>
    <span>{{ T "prev_page" }}</span>
  </a>
  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">
      <span>{{ T "next_page" }}</span>
      <span>→</span>
    </a>
  {{ end }}
</div>
