{{ define "main" }}
  <content>
    <!-- Yash: UGLY HACK!
      This re-initializes the paginator. Needed for pagination to work right
      on the "Resources" page. I don't understand how this works...leave it for now, 
      we'll create a new template for "non-blog-post-lists" soon enough...
      -->
    {{- $paginator := .Paginate .Pages }}

    {{ if .Content }}
    <!-- Include some text introducing the list, if available. -->
      <div class="list-preamble">
        {{ .Content }}
      </div>
    {{ end }}
    {{ if .Data.Singular }}
      <h3>{{ T "filtering_for" }} "{{ .Title }}"</h3>
      <small>
        {{ $mainSection := index (.Site.MainSections) 0 }}
        <a href="{{ relURL $mainSection }}">{{ T "remove_filter" }}</a>
      </small>
    {{ end }}
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}
    <ul class="post-list">
      {{ range .Paginator.Pages }}
        <li>
          <span>
            <i>
              <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
              </time>
            </i>
          </span>
          {{ if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
      {{ else }}
        <li>{{ T "no_posts" }}</li>
      {{ end }}
    </ul>
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
          <a href="{{ .Page.RelPermalink }}">#{{ .Page.LinkTitle }}</a>&nbsp;&nbsp;
        {{ end }}
      </div>
    </small>
  </content>
{{ end }}
